*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-top: 16px;
    
}
nav{
    width: 71%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
nav .menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

.btn{
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #30B868;
    padding: 12px 16px; 
    font-weight: 600;
}

#banner{
    width: 100%;
    height: 500px;
    max-width: 1600px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
}

#banner .background{
    padding: 70px 120px 134px;
    text-align: center;
    margin: 0 auto;
}
#banner .background .banner-content p{
    background-color: #FFFFFF;
    border-radius: 1000px;
    display: inline;
    padding: 8px 12px;
    color: #30B868;
    margin-bottom: 30px;
}
#banner .background .banner-content h1{
    font-family: Inter;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    margin-top: 16px;
    color: #FFFFFF;
}
#banner .background .banner-content .green{
    color: #30B868;
}
#banner .background .banner-content h4{
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    margin: 16px auto 32px;
}
#banner .background .button{
    display: flex;
    gap: 16px;
    justify-content: center;
}