*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-top: 16px;
    
}
nav{
    width: 71%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
nav .menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

.btn{
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #30B868;
    padding: 12px 16px; 
    font-weight: 600;
}

#banner{
    width: 100%;
    max-width: 1600px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    margin: 0 auto;
}

#banner .background{
    padding: 70px 120px 134px;
    text-align: center;
    margin: 0 auto;
}
#banner .background .banner-content p{
    background-color: #FFFFFF;
    border-radius: 1000px;
    display: inline;
    padding: 8px 12px;
    color: #30B868;
    margin-bottom: 30px;
}
#banner .background .banner-content h1{
    font-family: Inter;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    margin-top: 16px;
    color: #FFFFFF;
}
#banner .background .banner-content .green{
    color: #30B868;
}
#banner .background .banner-content h4{
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    margin: 16px auto 32px;
}
#banner .background .button{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin-top: 20px;
}
.section-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center;
    line-height: 30px;
    color: #757575;
}
#notes .notes-container{
    max-width: 1600px;
    width: 71%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
}
#notes .notes-container .notes-box{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.notes-box .notes-card{
    /* border: 1px solid; */
    width: 322px;
    height: 300px;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
}
.notes-box .notes-card img{
    padding: 2.5px 2.5px;
    background-color: #30B868;
    border-radius: 50px;
    margin-bottom: 16px;
    /* align-items: center; */
}
.notes-box .notes-card h3{
    font-size: 24px;
    color: #001931;
    line-height: 29px;
    text-align: center;
    margin-bottom: 16px;
}
.notes-box .notes-card p{
    margin-bottom: 22px;
    color: #627382;
    text-align: center;
}

#brain{
    width: 81%;
    max-width: 1600px;
    /* padding: 120px; */
    /* border: 1px solid; */
    margin: 0 auto;
}
#brain .section-container{
   display: flex;
   gap: 60px;
   justify-content: flex-start;
    align-items: center;
    
}
#brain .section-container .image img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
#brain .section-container .brain-message{
    margin: 102px 0;
}
.section-container .brain-message p{
    color: #30B868;
    font-style: Medium;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}
#brain .section-container .brain-message h1{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    line-height: 58px;
    margin-bottom: 16px;
}

#list p{
    color: var(--Style, rgba(0, 25, 49, 1));
}

#list .section-container p{
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 20px;
}
#list img{
    padding: 2px;
    text-align: center;
    color: #30B868;
    margin-right: 6px;
    margin-top: 6px;
}
#challenge{
    padding: 80px 40px;
    border: 1px solid;
    width: 81%;
    max-width: 1600px;
    margin: 0 auto;
}
#challenge .section-container{
    text-align: center;
}
#challenge .section-container h2{
    margin-bottom: 16px;
    color: var(--Style, rgba(0, 25, 49, 1));
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
#challenge .section-container p{
    color: #627382;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 16px;
}